@model Blog.Persistence.Blog

<h1>@Model.Title</h1>

<div>
    <hr />
    <dl class="row">              
        <dt>
            @Html.DisplayNameFor(model => model.BlogText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogText)
        </dd>
        <div class="d-flex flex-row justify-content-lg-start">
            <dt>
                @Html.DisplayNameFor(model => model.Likes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Likes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd">
                @Html.DisplayFor(model => model.Owner.Email)
            </dd>
        </div>       
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
