@model Blog.Persistence.Blog

@{
    ViewData["Title"] = "Update";
}

<hr />
@using (Html.BeginForm("Update", "Blog", FormMethod.Post))
{
    <div class="w-100">
        <div class="form-group mb-2 w-50">
            <input class="w-100" type="text" placeholder="Title" required name="Title" value="@Model.Title">
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-group mb-2 w-50">
            <input class="w-100" type="text" placeholder="Blog text" required name="BlogText" value="@Model.BlogText">
            @Html.ValidationMessageFor(x => x.BlogText)
        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Owner)
        @Html.HiddenFor(x => x.OwnerId)
        @Html.HiddenFor(x => x.Likes)
        @Html.HiddenFor(x => x.Comments)
        @Html.HiddenFor(x => x.Tags)
        <div class="form-group">
            <input type="submit" value="Update blog" class="btn btn-primary">
        </div>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
